@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="display-5 fw-bolder">Cost Pilot - Cost Approval Platform</h1>
        <img src="~/images/process.png" class="img-fluid rounded" />
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Submit Cost Requests</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Approve Cost Requests</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Track Approvals</h5>
                </div>
            </div>
        </div>
    </div>
</div>
